<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{url_for('static', filename='js/kitchen.js')}}"></script>
    <link rel="stylesheet" media="all and (min-width:451px)" type="text/css" href="{{url_for('static', filename='css/kitchen_monitor.css')}}">
    <link rel="stylesheet" media="all and (max-width:450px)" type="text/css" href="{{url_for('static', filename='css/kitchen_smartphone.css')}}">
    <title>Kitchen Orders</title>
</head>
<!---#order.orders.split("\n")--->
<body>
    <h1>Kitchen - List of current orders</h1>
    <ul id="customer_order_ul">
        {% for order in orders %}
            <li class="customer_order_li">
                <h2>Customer Name: {{order.customer_name}}</h2>
                <h3>Table: {{order.table_number}}</h3>
                <ul>
                {% for current_order in order['order_items'] %}
                    <li class="items"> {{current_order}} </li>
                {% endfor %}
                </ul>
                <a href="{{ url_for('delete_order', order_id=order.id) }}">Delete Order</a>
            </li>
        {% endfor %}
    </ul>
</body>

</html>

