<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{url_for('static', filename='js/order_summary.js')}}"></script>
    <script type="text/javascript"> var table = "{{orders.table_number}}"</script>
    <title>Order Summary</title>
</head>
<body>
    <h1>Order Summary</h1>
    <h2>Customer Name: {{ orders.customer_name }}</h2>
    <h3>Table Number: {{ orders.table_number }}</h3>
    <h3>Order Summary:</h3>
    <ul>
        {% for item in orders.order_items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</body>
</html>